<!DOCTYPE html>
<html>
    <head>
        <title>Архив статей</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}/static/article.css">
    </head>
    <body>
		<div class="archive">
			<img src="https://cdn.iconscout.com/icon/free/png-256/django-2-282855.png" alt="картинка">
		</div>
		<div class="login">
			<a href="http://127.0.0.1:8000/login"><p class="post-title"> Авторизация </p></a>
			<a href="http://127.0.0.1:8000/register"><p class="post-title"> Регистрация </p></a>
		</div>
		<div class="archive">
			<div class="one-post">
				<h2 class="post-title">{{ post.title }}</h2>
				<div class="article-info">
					<div class="article-created-date">Дата: {{ post.created_date }}</div>
					<div class="article-author">Автор: {{ post.author.username }}</div>
				</div>
				<p class="article-text">{{ post.get_text }}</p>
			</div>
		</div>
		<a href="http://127.0.0.1:8000/"><p class="positioned"> Все статьи </p></a>
    </body>
</html>


