form {
  max-width: 500px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.form-field {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #fff;
}

input[type="text"],
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  color: #444;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  border-color: #1abc9c;
  box-shadow: 0 0 5px rgba(26, 188, 156, 0.5);
}

button[type="submit"] {
  display: block;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #1abc9c;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button[type="submit"]:hover {
  background-color: #148f77;
}


body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #ffffff;
}

.archive img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  max-width: 500px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.positioned {
    font-size: 17px;
    color: #ffffff;
    width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.errors {
    color: red;
}

.user{
    position: absolute;
    top: 0;
    float: right;
    right: 100px;
    font-size: 19px;
    color: #ffffff;
	margin-left: auto;
	margin-right: auto;;
}